@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #CCF6FF;
    --cor2: #6BA6B3;
    --cor3: #FFE4CC;
    --cor4: #E6FFE7;
    --cor5: #B3967D;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    height: 100px;
    padding-top: 50;
    color: var(--cor3);
}

header h1 {
    font-size: 3em;
    text-align: center;  
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.329);
}

main p {
    margin-top: 10px; 
    font-size: 1.2em; 
}
main p#ops {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 3vw;
}

p#ops input {
    margin: 0px 30px;
}

main p input {
    margin-right: 10px;
}

div#btn {
    text-align: center;
    margin-top: 20px;
}

div#btn input {
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    background-color: var(--cor1);
    border: 2px solid var(--cor2);
    color: black;
    font-size: 1.2em;
}

div#imgs {
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 30px 0px ;
}

img#p1 {
    margin-right: 10%;
}

img#ia {
    display: none;
}

p#res {
    margin-top: 30px;
    text-align: center;
    font-size: 3em;
}