@charset "UTF-8";

:root{
    --cor1: #CCF6FF;
    --cor2: #6BA6B3;
    --cor3: #FFE4CC;
    --cor4: #E6FFE7;
    --cor5: #B3967D;
}

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    height: 100px;
    padding-top: 50;
    color: var(--cor3);
}

header h1 {
    font-size: 3em;
    text-align: center;  
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.329);
}

main p {
    margin-top: 10px; 
    font-size: 1.2em; 
}

#ops {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 40px;
}

#ops > label {
    width: 150px;
    background-color: var(--cor2);
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}
#ops label + #ops input:focus {
    border: 3px orange;
}

#ops input {
    display: none;
}

#btn {
    text-align: center;
    margin-top: 20px;
}

#btn input {
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    background-color: var(--cor1);
    border: 2px solid var(--cor2);
    color: black;
    font-size: 1.2rem;
}

#imgs {
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin: 30px 0px ;
}

#p1, #ia {
    display: none;
}

#res {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}