@charset "UTF-8";

:root{
    --cor1: #CCF6FF;
    --cor2: #6BA6B3;
    --cor3: #FFE4CC;
    --cor4: #E6FFE7;
    --cor5: #B3967D;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    background-color: var(--cor3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

header {
    width: 100%;
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor3);
}

header h1 {
    font-size: 4.5rem;
    line-height: 9rem;
    text-align: center;  
}

main {
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "p p p"
                            "form form form"                
                            "imgs imgs imgs"
                            "res res res";
    gap: 20px;

    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.329);
}

.content_title {
    grid-area: p;
}

main h2 {
    font-size: 2.5rem;
}

main p {
    margin-top: 10px; 
    font-size: 2rem; 
}

form{
    grid-area: form;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2vw;
}

#ops {
    width: 100%;

    grid-area: op;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    
}
#ops > label {
    width: 25%;
    background-color: var(--cor2);
    border-radius: 5px;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 5rem;

    cursor: pointer;
}
#ops> label:hover {
    transition: 0.3s;
    background-color: var(--cor5);
}
#ops input {
    display: none;
}
#btn  {
    width: 100px;
    height: 40px;
    background-color: var(--cor1);
    border: 2px solid var(--cor2);
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
#btn:hover {
    transition: 0.3s;
    background-color: var(--cor2);
    color: #fff;
}

#imgs {
    grid-area: imgs;

    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
}

#p1, #ia {
    display: none;
}

#res {
    grid-area: res;

    text-align: center;
    font-size: 3rem;
    line-height: 6rem;
}